.mid{
    flex-direction:column;
    width:100%;
    opacity: 0.5;
    font-size:2rem;
}
.mid:hover{
    opacity: 1;
}
body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
form{
    display:block;
    width:80vw;
    overflow: hidden;
    height:135vh;
}
.txt2{
    display:block;
    visibility: hidden;
    /* position: absolute; */
    /* right:23%; */
    /* width:29%; */
    /* margin-top:162px; */
    /* padding-left: 120px; */
    /* padding:35px 0px 40px 66px; */
    /* text-align: center; */

    /* margin: 0px auto; */
    /* border-left: 7px solid rgb(120, 122, 120); */
}
ul{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.right{
    visibility:hidden;
}
.images{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:100%;
}