*{
    padding: 0px;
    margin: 0px;
    color:white;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-size:25px;
}
body{
    background-image: url(bg.jpg);
    background-size: cover;
    /* background-size: ; */

    /* background-repeat: no-repeat; */
    /* background-size: 1000px; */
    /* color: white !important; */
}
/* body img{
    display: inline-block; */
    /* width: 100%;
    height: 100%;
} */
.mid{
    display: block;
    width: 80%;
    /* padding: 6px auto; */
    /* margin: 3px auto; */
    margin-top: 5px;
    padding-top:5px;
    padding-bottom:5px;
    border: 2px solid #9d9d89;
    background-color: rgb(58, 57, 57);
    color: white;
    border-radius: 10px;
}
.mid li{
    display: inline-block;
}
.mid a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    /* margin-top: 5px; */
}
.mid .active{
    color: rgb(161, 165, 161);
    text-decoration: underline;
}
.mid a:hover{
    color:rgb(132, 132, 138);
}
.right{
    display: inline-block;
    position: absolute;
    width: 18%;
    /* width: calc(20%-5px); */
    right:5px;
    top:0px;
    /* border: 2px solid blue; */
    color: white;
}
#btn{
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border: 2px solid #41413f;
    background-color: rgb(31, 30, 30);
    color: white;
    cursor: pointer;
    /* border-radius: 10px; */
    width:100%;
}
.images{
    border: 2px solid blue;
    display: inline-block;
    width : 33%;
    height:50vh;
    margin-top : 23px;
}
.images img{
    max-width: 100%;
    height:100%;
}
.images img:hover{
    opacity: 0.5;
}
/* #image1{

}
#image2{

}
/* #imag3{

} */ 
form{
    border: 2px solid yellow;
    display: inline-block;
    /* height:300px; */
    width:30%;
    margin-left:7%;
    margin-top:45px;
    height:86vh;
    text-align: center;
    /* color: black!important; */
}
form input{
    color: black;
}
/* form{
    display: inline-block;
} */
/* form p{
} */
.text2{
    display: inline-block;
    position: absolute;
    right:23%;
    width:29%;
    margin-top:162px;
    padding-left: 75px;
    /* text-align: center; */

    /* margin: 0px auto; */
    border: 2px solid green;
}